//colors

$background-white:#ffffff;
$background-blue: #F4FAFF;
$main-headind-blue:#003A59;
$sub-heading-blue:#728197;
$border-grey:#E3E9F1;
$item-heading-blue:#2E3849;
$input-border-grey:#CCD6E1;
$button-blue:#00598d;
$item-card-border:#EEF3F8;
$expiring-yellow:#FFFDCC;
$expiring-font-yellow:#754311;
$expired-red:#FFEBEB;
$expired-font-red:#752B2B;
$healthy-green:#DBFFE6;
$healthy-font-green:#23553E;
