@import "../colors.scss";

body {
  margin: 0;
  padding: 0;
}

.main-background {
  background-image: linear-gradient(
    to bottom,
    $background-white 0%,
    $background-white 350px,
    $background-blue 350px,
    $background-blue 100%
  );
  min-height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

.greeting-card {
  width: 100%;
  padding-top: 5rem;

  .greeting-heading {
    color: $main-headind-blue;
    font-size: 36px;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-align: center;
  }

  .greeting-subheading {
    color: #728197;
    font-size: 18px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.54px;
    text-align: center;
  }
}

.center-align {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loading-text {
  color: $main-headind-blue;
  font-size: 17px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: -0.48px;
  margin-top: 15px;
}

.loader-container {
  margin-top: 100px;
}

.container-70 {
  width: 62%;
}

.item-count {
  color: $item-heading-blue;
  text-align: left;
  font-size: 14px;
  font-family: Inter;
  font-weight: 600;
  letter-spacing: -0.42px;

  display: flex;
  justify-content: flex-end;

  margin:20px 0px 8px 0px;

}
